[submodule "docfx_project/src/Fusee"]
	path = docfx_project/src/Fusee
	url = https://github.com/FUSEEProjectTeam/Fusee.git
[submodule "docfx_project/wiki"]
	path = docfx_project/wiki
	url = https://github.com/FUSEEProjectTeam/Fusee.wiki.git
